*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    position: relative;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:10px;
    margin-right: 10px;
}
#menu{
    color: black;
}
#nome-site{
    font-size: 30px;
    color: rgb(199, 163, 0);
    font-family: 'Comforter', cursive;

    display: flex;
    align-items: center;
}
.img{
    height: 50px;
    width: 36.7px;
}
.lista{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
li{
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}
li:hover{
    background:  rgb(199, 163, 0);
}
.main{
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background: rgba(255, 255, 0, 0.353);
    font-family: 'Josefin Sans', sans-serif;
    min-height: 501px;
}
#raio{
    animation: raio .5s ease ;
    height: 400px;
}
.sessao{
    padding: 20px;
    max-width: 80vw;
    
    margin: 0 auto;
}
.sessao h1{
    text-align: center;
}
.sessao h4{
    text-align: center;
}
   
.sessao p{
    
    text-align: center;
    margin: 0 auto;
}
#footer{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 0, 0.353);
}
#footer h1{
    margin-top: 20px;
    margin-bottom: 10px;
}
#footer p{
    margin: 20px;
}
.redes{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px;
    margin-left: 3vw;
    
}
#linked{
  background-color: blue;
 padding: 3px;
 border-radius: 50%;
 color: white;
}
#insta{
    background: linear-gradient(45deg, blue, blueviolet, red, yellow);
    padding: 2px;
    border-radius: 50%;
}
#git{
    background: linen;
    padding: 1px;
   border-radius: 50%;
}
.sociais-container p{
    margin-left: 3vw;
}
.sociais-container a{
    color:black;
    margin-left: 2px;
}
.redes :hover{
    background:  rgb(199, 163, 0);
    border-radius: 20px;
    padding: 2px;
}

@keyframes raio { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-50px);} 
    60% {transform: translateY(-25px);} 
 }